<script src="books-list.component.ts"></script>
<script src="books-list.component.spec.ts"></script>

<h2>Books</h2>
<div class="container">
    <div class="list-group">
      <a *ngFor="let book of books" class="list-group-item"
        (click)="onSelect(book)" [class.active]="selectedBook === book">
          {{book.title}}
      </a>
    </div>
    <hr>
    <div *ngIf="selectedBook">
        <h3>
            {{selectedBook.title}} was selected
        </h3>
        <button type="button" class="btn btn-default" (click)="gotoDetail()">View & Edit</button>
        <button type="button" class="btn btn-danger" (click)="delete(selectedBook)">Delete</button>
    </div>
</div>
