<script src="../../clients/client-new/client-new.component.ts"></script>
<script src="../../clients/clients-list/clients-list.component.ts"></script>
<script src="client-new.component.ts"></script>
<h3>Add Order</h3>

<div>
  <label>Client: </label>
  <select [(ngModel)] = "selectedClient">
    <option *ngFor="let client of clients" [ngValue]="client">
      {{client.name}}
    </option>
  </select>
  <label>Book: </label>
  <select [(ngModel)] = "selectedBook">
    <option *ngFor="let book of books" [ngValue]="book">
      {{book.title}}
    </option>
  </select>
</div>
<div>
  <button (click)="save(selectedClient, selectedBook)">Save</button>
</div>
