<script src="clients-list.component.ts"></script>
<script src="clients-list.component.spec.ts"></script>

<div class="container">
  <h2>Clients</h2>
  <div class="list-group">
    <a *ngFor="let client of clients" class="list-group-item"
       [class.active]="client === selectedClient"
       (click)="onSelect(client)">
      {{client.name}}
    </a>
  </div>
  <hr>
  <div *ngIf="selectedClient">
    <h4>
      Client name: {{selectedClient.name}}
    </h4>
    <button type="button" class="btn btn-default" (click)="gotoDetail()">View & Edit</button>
    <button type="button" class="btn btn-danger" (click)="delete(selectedClient)">Delete</button>
  </div>
</div>


